*{
    box-sizing: border-box;
}

#title1 {
    text-align: center;
    color: seagreen;
    font-size: medium;
}
#title2 {
    text-align: center;
    font-size: small;
}
#title3 {
    text-align: center;
    color: gainsboro;
    font-size: x-small;
    font: bold;
}
#img1 {

  height: 40px%;
  border-radius:999em
  
 }

  h6{
      color: seagreen;
      text-align: center;
      font: bold;
  }

  #subtitle{
    color: gainsboro;
    text-align: center;
    font: bold;
}

.col-3{
    text-align: center;
    
}

body {
    margin-top: 20px;
}